<!DOCTYPE html>
<html>
    <head>
    <title>Blog</title>
    <!-- {% load static %} -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" /> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    </head>
<body>
    <!-- Sidebar -->
    <div id="sidebar">
        <h1 id="logo"><a href="{% url 'index' %}">BLOG</a></h1>

        <nav id="nav">
            <ul>
                {% if request.path == '/' or request.path == '/1/' %}
                <li class="current"><a href="{% url 'index' %}">Last posts</a></li>
                {% else %}
                <li><a href="{% url 'index' %}">Last posts</a></li>
                {% endif %}
                <li><a href="#">Archives</a></li>
                {% if user.is_superuser %}
                <li><a href="/admin/">Admin pannel</a></li>
                {% endif %}
        </nav>

        <section class="box search">
            <form action="{% url 'search' %}" method="post" id="search">
                {% csrf_token %}
                <input type="text" name="search" placeholder="Search post" id="search_input" value="{{ search }}">
                <input type="submit" style="display:none" id="search_submit">
            </form>
        </section>

        <section class="box text-style1">
            <div class="inner">
                <p>
                    <strong>Striped:</strong> A free and fully responsive HTML5 site
                    template designed by <a href="http://twitter.com/ajlkn">AJ</a> for <a href="http://html5up.net/">HTML5 UP</a>
                </p>
            </div>
        </section>

        <section class="box recent-posts">
            <header>
                <h2>Recent Posts</h2>
            </header>
            <ul>
                {% for recent_post in recent_posts %}
                <li><a href="{% url 'post' recent_post.id %}">{{ recent_post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>

        <section class="box recent-posts">
            <header>
                <h2>Most used tags</h2>
            </header>
            <ul>
                {% for used_tag in most_used_tags %}
                <li><a href="{% url 'posts_by_tag' used_tag %}">{{ used_tag }}</a> ({{ used_tag.post_set.count }})</li>
                {% endfor %}
            </ul>
        </section>

        <!-- <section class="box calendar">
            <div class="inner">
                <table>
                    <caption>July 2014</caption>
                    <thead>
                        <tr>
                            <th scope="col" title="Monday">M</th>
                            <th scope="col" title="Tuesday">T</th>
                            <th scope="col" title="Wednesday">W</th>
                            <th scope="col" title="Thursday">T</th>
                            <th scope="col" title="Friday">F</th>
                            <th scope="col" title="Saturday">S</th>
                            <th scope="col" title="Sunday">S</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span>&nbsp;</span></td>
                            <td><span>&nbsp;</span></td>
                            <td><span>&nbsp;</span></td>
                            <td><span>&nbsp;</span></td>
                            <td><span>1</span></td>
                            <td><span>2</span></td>
                            <td><span>3</span></td>
                        </tr>
                        <tr>
                            <td><span>4</span></td>
                            <td><span>5</span></td>
                            <td><a href="#">6</a></td>
                            <td><span>7</span></td>
                            <td><span>8</span></td>
                            <td><span>9</span></td>
                            <td><a href="#">10</a></td>
                        </tr>
                        <tr>
                            <td><span>11</span></td>
                            <td><span>12</span></td>
                            <td><span>13</span></td>
                            <td class="today"><a href="#">14</a></td>
                            <td><span>15</span></td>
                            <td><span>16</span></td>
                            <td><span>17</span></td>
                        </tr>
                        <tr>
                            <td><span>18</span></td>
                            <td><span>19</span></td>
                            <td><span>20</span></td>
                            <td><span>21</span></td>
                            <td><span>22</span></td>
                            <td><a href="#">23</a></td>
                            <td><span>24</span></td>
                        </tr>
                        <tr>
                            <td><a href="#">25</a></td>
                            <td><span>26</span></td>
                            <td><span>27</span></td>
                            <td><span>28</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section> -->

        <section class="box recent-posts">
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post" id="logout">
                {% csrf_token %}
                <ul><center>
                    <li><span>Connected as {{ user.username }}</span></li>
                    <li><input type="submit" name="logout" value="Logout"></li>
                </center></ul>
            </form>
            {% else %}
            <form action="{% url 'login' %}" method="post" id="login">
                {% csrf_token %}
                <ul>
                    <li><input type="text" name="username" placeholder="username"></li>
                    <li><input type="password" name="password" placeholder="password"></li>
                    <li><center><input type="submit" name="login" value="Login"></center></li>
                </ul>
            </form>
            {% endif %}
        </section>

        <ul id="copyright">
            <li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>

    <!-- Content -->
    <div id="content">
        <div class="inner">
        	{% block content %}
        	{% endblock %}
        </div>
    </div>

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/skel.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <!--[if lte IE 8]><script src="{% static 'js/ie/respond.min.js' %}"></script><![endif]-->
    <script src="{% static 'js/main.js' %}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</body>
</html>