<article class="box post post-excerpt">
    <header>
        <h2><a href="{% url 'post' post.id %}">{{ post.title }}</a></h2>
        <p>by {{ post.author }}</p>
    </header>
    <div class="info">

        <span class="date"><span class="month">{{ post.pub_date|date:"M" }}<span>{{ post.pub_date|date:"F"|slice:"3:" }}</span></span> <span class="day">{{ post.pub_date|date:"j" }}</span><span class="year">, {{ post.pub_date|date:"Y" }}</span></span>

        <ul class="stats">
            <li><a href="{% url 'post_commentaries' post.id %}" class="icon fa-comment">{{ post.commentary_set.count }}</a></li>
            <li><a class="icon fa-eye">{{ post.view }}</a></li>
        </ul>
    </div>
    <!-- {% load static %} -->
    <a href="#" class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>

    <p>
        {{ post.content|safe }}
    </p>    
</article>