<article class="box post post-excerpt">
    <header>
        <h2><a href="{% url 'post' post.id %}">{{ post.title }}</a></h2>
        <p>by <a href="{% url 'posts_by_author' post.author %}">{{ post.author }}</a></p>
    </header>
    <div class="info">

        <span class="date"><span class="month">{{ post.pub_date|date:"M" }}<span>{{ post.pub_date|date:"F"|slice:"3:" }}</span></span> <span class="day">{{ post.pub_date|date:"j" }}</span><span class="year">, {{ post.pub_date|date:"Y" }}</span></span>

        <ul class="stats">
            <li><a href="{% url 'post_commentaries' post.id %}" class="icon fa-comment">{{ post.commentary_set.count }}</a></li>
            <li><a class="icon fa-eye">{{ post.view }}</a></li>
        </ul>
    </div>
    <!-- {% load static %} -->
    <a href="{% url 'post' post.id %}" class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>

    {% if 'post' not in request.path %}
    <p>{{ post.content_in_index|safe }}</p>
    <p><a class="cutlink" href="{% url 'post' post.id %}">[...]</a></p>
    {% else %}
    {{ post.content|safe }}
    {% endif %}
    <p>
        {% for tag in post.tag.all %}
        {% if tag != post.tag.all.last %}
        <a class="cutlink" href="{% url 'posts_by_tag' tag %}">{{ tag }}</a>,
        {% else %}
        <a class="cutlink" href="{% url 'posts_by_tag' tag %}">{{ tag }}</a>
        {% endif %}
        {% endfor %}
    </p>
</article>