{% extends 'core/overall.html' %}

{% block content %}
    {% include 'core/post.html' %}

    <div>
        <form action="{% url 'send_commentary' post.id %}" method="post">
            {% csrf_token %}
            Pseudo : <input type="text" name="author"><br />
            <input type="text" name="content"><br /><br />
            <div class="g-recaptcha" data-sitekey="6LcbCjUUAAAAAGxUbCeibQ62Ina85IWmMhPCFCzS"></div>
            <input type="submit" name="Envoyer">
        </form>
    </div>

    {% for commentary in post.commentary_set.all %}
        {% include 'core/commentary.html' with commentary=commentary %}
    {% endfor %}
{% endblock %}