{% extends 'core/overall.html' %}

{% block content %}
    {% include 'core/post.html' %}


    {% if error_message %}
        <div><strong>{{ error_message }}</strong></div>
    {% endif %}

    <div>
        <form action="{% url 'send_commentary' post.id %}" method="post" id="post_comment">
            {% csrf_token %}
            {% if user.is_authenticated %}
                Pseudo : <input type="text" name="author" value="{{ user.username }}" readonly style="cursor: not-allowed;"><br>
            {% else %}
                Pseudo : <input type="text" name="author" value="{{ author }}"><br>
            {% endif %}
            <textarea rows="5" cols="50" name="content" form="post_comment">{{ content }}</textarea><br>
            <div class="g-recaptcha" data-sitekey="6LcbCjUUAAAAAGxUbCeibQ62Ina85IWmMhPCFCzS"></div>
            <input type="submit" name="Envoyer">
        </form>
    </div>

    {% for commentary in post.commentary_set.all %}
        {% include 'core/commentary.html' with commentary=commentary %}
        {% if not forloop.last %}
        <hr>
        {% endif %}
    {% endfor %}
{% endblock %}