body
{
   width: 900px; /* Pour donner une largeur à notre page */
   margin: auto; /* Pour centrer notre page */
   margin-top: 20px; /* Pour éviter de coller avec le haut de la fenêtre du navigateur. */
   margin-bottom: 20px;    /* Idem pour le bas du navigateur */
   background-color: #000000; /* Couleur du fond */
   background-attachment: fixed;  /* Fixe une éventuelle image, elle ne bougera plus quand on fait défiler */
}

/* L'en-tête */

#en_tete
{
   margin: auto;
   width: 650px;
   height: 198px;
   margin-bottom: 10px; 
}

/* Le menu */

#menu
{
   width: 650px;
   margin: auto;
   text-align: center;
}

/* Les liens qui suivent */

#links
{
	float: right;
	bottom: 20px;
	width: 95px;
	border-radius: 10px; /* Pour donner l'effet d'arrondit */
	background-color: #FFFFFF;
	padding: 5px; /* Pour éviter que le texte à l'intérieur du corps ne colle trop à la bordure */
	padding-bottom: 10px;
	font-family: "Calibri", Arial, "Arial Black", "Times New Roman", Times, serif;
	position: fixed;
}

/* Le corps de la page */

#corps
{
   margin: auto;
   width: 650px;
   margin-bottom: 20px; /* Ca c'est pour éviter que le corps colle trop au pied de page en-dessous */
   font-family: "Calibri", Arial, "Arial Black", "Times New Roman", Times, serif;
}

.element_corps
{
   border-radius: 10px; /* Pour donner l'effet d'arrondit */
   background-color: #FFFFFF;
   padding-bottom: 40px; /* Pour éviter que le texte à l'intérieur du corps ne colle trop à la bordure */
   padding-left: 40px;
   padding-right: 40px;
   
   margin-bottom: 10px; /* Pour éviter que les éléments ne soient trop collés */
}

.sous_menu
{
   border-radius: 10px;
   background-color: #FFFFFF;
	margin-top: 10px;
	padding-bottom: 20px;
	color: gray;
}

#corps h1 /* Tous les titres h1 du corps */
{
   font-family: "Calibri", Arial, "Arial Black", "Times New Roman", Times, serif;
   font-variant: small-caps;
   font-size: 50px;
}

#corps h2 /* Tous les titres h2 du corps */
{
   background-image: url("images/news.gif"); /* Une petite image de fond sur les titres h2 */
   background-repeat: no-repeat; /* L'image ne se répètera pas, elle sera à gauche du titre */
   
   padding-left: 35px;
   text-align: left;
}

#corps h5/* Titres h3 du corps */
{
   padding-top : 15px;
   height : 0px;
   color : gray;
   font-family: "Calibri", Arial, "Arial Black", "Times New Roman", Times, serif;
}

#corps .img /* Toutes les images du corps */
{
   padding-top: 20px;
   border: 2px solid black;
}

#corps a/* Tous les liens du corps */
{
   color: #555555;
   text-decoration: none;
}

#corps .sous_menu a:hover /* Quand on pointe sur un lien du sous menu */
{
   background-color: #000000;
   color: #FFFFFF;
}

/* Le pied de page (qui se trouve tout en bas, en général pour les copyrights) */

#pied_de_page
{
   padding: 5px;
   clear: both;

   text-align: center;

   color: #99c4ff;
   background-color: #0070a2;
   background-image: url("Images/motif.png");
   background-repeat: repeat-x;
   
   border: 2px solid black;
}